* {
	padding: 0;
	margin: 0;
}

#content {
	position: relative;
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-family: 'Baloo Bhai';
	overflow: hidden;
	/* background: rgb(44, 133, 157); */
	background: transparent;
	color: white;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#ppm {
	position: relative;
	top: 20px;
	font-weight: 200;
	text-align: center;
	width: 100vw;
	font-size: 30px;
}

#instructions {
	display: none;
	position: absolute;
	right: 80px;
	top: 30px;
}

#ppm {
	position: absolute;
	left: 0;
	top: 300px;
	font-size: 100px;
}

#ppm-text {
	position: relative;
	top: -110px;
	font-size: 20px;
}

#time {
	position: absolute;
	width: 100vw;
	left: 0;
	height: 70vh;
	line-height: 120vh;
	bottom: 0;
	font-size: calc(60px + 5vw);
	display: none;
}

#i {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 80px;
	z-index: 2;
	cursor: pointer;
	width: 60px;
	text-align: right;
}

img {
	position: absolute;
	width: 400px;
	left: calc(50vw - 200px);
	top: calc(50vh - 170px);
	height: auto;
}

canvas {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
